<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Programming in Python - January 3rd</h3>
    <table class="table table-striped">
      <!-- <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr> -->
      <tr> <td>08:00-08:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/setup/">Set-up</a></td> </tr>
      <tr> <td>08:30-10:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/01-numpy/index.html">Handling Tabular Data and Repeating Actions with Loops</a></td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:45-12:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/03-lists/index.html">Lists, Handling Multiple Files, and Custom Functions</a></td> </tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/07-errors/index.html">Errors, Exceptions and Robust Programming</a></td> </tr>
      <tr> <td>14:30-14:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>14:45-16:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/09-debugging/index.html">Debugging Tips and Running Python scripts from the Command Line</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Business Data Analysis with Python - January 4th</h3>
    <table class="table table-striped">
      <tr> <td>08:00-08:30</td>  <td><a href="https://woodhead99.github.io/python102/setup/">Set-up</a></td> </tr>
      <tr> <td>08:30-09:00</td>  <td><a href="https://woodhead99.github.io/python102/01-environments/">Anaconda Environments</a></td> </tr>
      <tr> <td>09:00-10:00</td>  <td><a href="https://woodhead99.github.io/python102/02-numpy/">Numpy</a></td> </tr>
      <tr> <td>10:00-10:45</td>  <td><a href="https://woodhead99.github.io/python102/03-pandas/">Pandas</a></td> </tr>
      <tr> <td>10:45-11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00-12:15</td>  <td><a href="https://woodhead99.github.io/python102/05-getting_data/">Connecting to and Retrieving Data from Databases</a></td> </tr>
      <tr> <td>12:15-13:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15-14:45</td>  <td><a href="https://woodhead99.github.io/python102/07-matplotlib/">Plotting with Matplotlib</a></td> </tr>
      <tr> <td>14:45-15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00-16:30</td>  <td><a href="https://woodhead99.github.io/python102/12-parallel_programming/">Parallel Programming in Python</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <!-- <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr> -->
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<p>Schedule is subject to change as Instructors finalize their materials.</p>
